*{ font-family: Montserrat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
              
    }
    
header {
    margin: 44px 0px 144px 76px
}

.link-header {
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    cursor: pointer;
    margin-right: 23px;
    }

.button {
    font-size: 18px;
    color: #FFFFFF;
    width: 130px;
    height: 41;
    border-radius: 50px;
    background: #665AE1;   
    border: none;
    cursor: pointer;
}

.logo-img {
    width: 568px;
    height: 500px;
    display: inline-block;
}

section {
    display: inline-block;
    padding-left: 120px;
}
h1{
    font-weight: 900;
    font-size: 100px;
    line-height: 71px;
    color: #515151;
    margin: 10 10 10 10;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
    margin-top: 30px;
}
p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px; 
    margin-top: 30px;
   
margin-bottom: 30px;}

.button-main {
    background: #adff00;
    border-radius: 30px ;
    width: 239px;
    height: 64px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgb(0,0,0));
    margin-bottom: 50px;
}

@media screen and (max-width:1115px) {
    .logo-img {
        width: 457px;
        height: 402px;}
    
    section {
        padding-left: 60px;}    

    .button-main{

        margin-left: 121px;
    }    
}



